body {
    margin: 24px 120px;
    background-color: darkgrey;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}





.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.logo {
    height: 25px;
    width: auto;
}

.links {
    display: flex;
    gap: 16px;
}

.introduction {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.information {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.info {
    display: flex;
    justify-content: space-around;
}





a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

img {
    height: 180px;
    width: auto;
}

button {
    background-color: black;
    color: white;
}